/* CSS Document */



 body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align:center
 }
 
 body,td,th {
	font-family: Verdana, Geneva, sans-serif;
 }
 
 a:link { color: #339933; text-decoration: none }
 a:active {  color: #339933; text-decoration: none; outline: none}
 a:visited { color: #339933; text-decoration: none }
 a:hover { color: #99cc33; text-decoration: none }
 
 .menu {
	 font-family:Verdana, Geneva, sans-serif; 
	 font-size:13px; 
	 font-weight:bold
 }
 
 .darkClass { /* creates semi-transparent layer with text */
    background-color: white;
    filter:alpha(opacity=80); /* IE */
    opacity: 0.8; /* Safari, Opera */
    -moz-opacity:0.80; /* FireFox */
    z-index: 5;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
	/* sendText.php */
}
  
 #wrapper { /* main DIV on ALL content pages in iFrame */
	position:relative;
	left:0px;
	top:0px;
	width:1060px;
	height:760px;
	border: 2px solid #FFFFFF;
	margin:0 auto; /* Right and left margin widths set to "auto" */
	text-align:left /* Counteract to IE5/Win Hack */
  }
 
 #contentDiv { /*main content DIV on ALL pages in iFrame */
	left:5px;
	top:0px;
	width:580px;
	height:600px;
	font-family: Verdana, Geneva, sans-serif;
	font-size:12px;
	position:absolute	
 }
 
 #contentTall1 {
	left:5px;
	top:0px;
	width:350px;
	height:600px;
	border: 2px solid #CCCCCC;
	position:absolute
	/* home.php */
  }
 
 #contentShort1 {
	left:375px;
	top:0px;
	width:231px;
	height:183px;
	border: 2px solid #CCCCCC;
	position:absolute
	/* home.php */
 }
 
 #contentShort2 {
	left:375px;
	top:208px;
	width:231px;
	height:183px;
	border: 2px solid #CCCCCC;
	position:absolute
	/* home.php */
 }
 
 #contentShort3 {
	left:375px;
	top:417px;
	width:231px;
	height:183px;
	border: 2px solid #CCCCCC;
	position:absolute
	/* home.php */
 }

 #uwagiLogo01 {
	left:1px;
	top:25px;
	width:432px;
	height:118px;
	text-align: center;
	position:absolute
	/* home.php */
 }

 #usingUwagi01 {
	left:1px;
	top:218px;
	width:432px;
	height:473px;
	text-align: center;
	position:absolute
	/* home.php */
 }

 #menuDiv01 {
	left:428px;
	top:25px;
	width:620px;
	height:19px;
	overflow: hidden;
	position:absolute;
	text-align:center
	/* home.php */
 }

 #blackFooter {
	left:1px;
	top:691px;
	width:1025px;
	height:45px;
	padding:10px;
	background-color: #000000;
	font-family: Verdana, Geneva, sans-serif;
	font-size:12px;
	color: #FFF;
	text-align: right;
	position:absolute
	/* home.php */
 }

 #mainContentBody { /* contains the iFrame */
	left:436px;
	top:70px;
	width:611px;
	height:620px;
	position:absolute
	/* index.php */
 }

 #adHeaderDiv {
	position:absolute;
	left:5px;
	top:0px;
	width:560px;
	height:50px;
	/* clientLogin.php */
	/* clientReports.php */
	/* createAd1.php */
	/* createAd2.php */
	/* createAd3.php */
	/* inactiveAd1.php */
	/* inactiveAd2.php */
	/* inactiveAd3php */
	/* manageAds.php */
	/* orderMaterials.php */
	/* processOrder.php */
	/* sendText.php */
	/* triviaCellReset.php */
	/* triviaEdit */
	/* triviaLogin.php */
	/* triviaPasswordReset.php */
	/* triviaPlayers.php */
	/* triviaRegister.php */
}

#adText {
	position:absolute;
	left:5px;
	top:70px;
	width:560px;
	height:80px;
	text-align:left;
}

 #ad1Div {
	position:absolute;
	left:5px;
/*	top:80px;*/
	top:160px;
	width:560px;
	height:100px;
	border: 2px solid #e3e3e3;
}	
	
 #ad1ImgDiv {
	position:absolute;
	left:10px;
	top:21px;
	width:45px;
	height:57px;
}
 
 #ad1TextDiv {
	position:absolute;
	left:70px;
	top:21px;
	width:350px;
	height:57px;
	text-align:left
}

 #ad1LinksDiv {
	position:absolute;
	left:433px;
	top:15px;
	width:115px;
	height:57px;
	text-align:right
}

 #ad2Div {
	position:absolute;
	left:5px;
/*	top:210px;*/
	top:290px;
	width:560px;
	height:100px;
	border: 2px solid #e3e3e3;
}

 #ad2ImgDiv {
	position:absolute;
	left:10px;
	top:21px;
	width:45px;
	height:57px;
}
 
 #ad2TextDiv {
	position:absolute;
	left:70px;
	top:21px;
	width:350px;
	height:57px;
	text-align:left
}

 #ad2LinksDiv {
	position:absolute;
	left:433px;
	top:15px;
	width:115px;
	height:57px;
	text-align:right
}

 #ad3Div {
	position:absolute;
	left:5px;
/*	top:340px;*/
	top:420px;
	width:560px;
	height:100px;
	border: 2px solid #e3e3e3;
}

 #ad3ImgDiv {
	position:absolute;
	left:10px;
	top:21px;
	width:45px;
	height:57px;
}
 
 #ad3TextDiv {
	position:absolute;
	left:70px;
	top:21px;
	width:350px;
	height:57px;
	text-align:left
}

 #ad3LinksDiv {
	position:absolute;
	left:433px;
	top:15px;
	width:115px;
	height:57px;
	text-align:right
}
	
 #createAdDiv {
	position:absolute;
	left:5px;
	top:80px;
	width:560px;
	height:360px;
	border: 2px solid #e3e3e3;
}

 #allAdsDiv {
	position:absolute;
	left:5px;
	top:80px;
	width:560px;
	height:360px;
	border: 2px solid #e3e3e3;
	overflow:auto;
}

 #adTextDiv {
	position:absolute;
	left:10px;
	top:21px;
	width:410px;
	height:125px;
	text-align:left;
	/* createAd1.php */
	/* createAd2.php */
	/* createAd3.php */
}

 #adSubmitDiv {
	position:absolute;
	left:440px;
	top:80px;
	width:110px;
	height:125px;
	z-index:1;
	/* createAd1.php */
	/* createAd2.php */
	/* createAd3.php */
}

 #manageContentDiv {
	padding-left:10px;
	position:absolute;
	left:5px;
	top:80px;
	width:560px;
	height:360px;
	border: 2px solid #e3e3e3;
	text-align:left;
	/* clientLogin.php */
	/* triviaRegister.php */
}

 #textAd {
	position:absolute;
	left:5px;
	top:55px;
	width:560px;
	height:40px;
	text-align:left;
	/* sendText.php */
}

 #sendText {
	position:absolute;
	left:9px;
	top:99px;
	width:560px;
	height:510px;
	border: 2px solid #e3e3e3;
	overflow: auto;	/* sendText.php */
}

 #textPreferences {
	position:absolute;
	left:10px;
	top:10px;
	width:240px;
	height:96px;
	text-align:left
	/* sendText.php */
}

 #comingSoonDiv {
	position:absolute;
	left:10px;
	top:200px;
	width:507px;
	height:290px;
	z-index:10;
	border: 2px solid #CCCCCC;
}

 #textPreferences2 {
	position:absolute;
	left:10px;
	top:200px;
	width:240px;
	height:290px;
	text-align:left
}

 #textPreferences2Cover {
	position:absolute;
	left:10px;
	top:200px;
	width:240px;
	height:290px;
	text-align:left
}

 #textPreferences3 {
	position:absolute;
	left:260px;
	top:200px;
	width:257px;
	height:290px;
	text-align:left
}

 #textPreferences3Cover {
	position:absolute;
	left:260px;
	top:200px;
	width:257px;
	height:290px;
	text-align:left;
}

 #textBody {
	position:absolute;
	left:260px;
	top:10px;
	width:280px;
	height:75px;
	text-align:left
}

 #textCount {
	position:absolute;
	left:260px;
	top:135px;
	width:165px;
	height:45px;
	text-align:left
}

 #submitDiv {
	position:absolute;
	left:446px;
	top:135px;
	width:65px;
	height:35px;
	text-align:right
}

 #orderMaterialsDiv {
	position:absolute;
	left:10px;
	top:80px;
	width:410px;
	height:295px;
	text-align:left;
}

 #triviaLoginDiv {
	position:absolute;
	left:5px;
	top:80px;
	width:335px;
	height:178px;
	text-align:right;
}

 #triviaAd {
	position:absolute;
	left:5px;
	top:10px;
	width:560px;
	height:60px;
	text-align:left;
}

 #triviaBody {
	position:absolute;
	left:5px;
	top:80px;
	width:560px;
	height:295px;
	text-align:left;
	border: 2px solid #e3e3e3;
	padding:3px;
}

 #mainTriviaBody {
	position:absolute;
	left:5px;
	top:80px;
	width:560px;
	height:400px;
	text-align:left;
	border: 2px solid #e3e3e3;
}

 #formTitlesDiv {
	position:absolute;
	left:5px;
	top:5px;
	width:240px;
	height:285px;
}

 #formFieldsDiv {
	position:absolute;
	left:250px;
	top:5px;
	width:240px;
	height:285px;
}

 #locationsBody {
	position:absolute;
	left:5px;
	top:80px;
	width:511px;
	height:295px;
	text-align:left;
}

 #aboutUsBody {
	position:absolute;
	left:5px;
	top:80px;
	width:519px;
	height:500px;
	text-align:left;
	border: 2px solid #CCCCCC;
}

 #whatIsUwagi {
	position:absolute;
	left:5px;
	top:80px;
	width:560px;
	height:450px;
	text-align:left;
	border: 2px solid #e3e3e3;
}

 #adScheduleDiv {
	position:absolute;
	left:5px;
	top:80px;
	width:295px;
	height:485px;
}

 #scheduleDaysDiv {
	position:absolute;
	left:135px;
	top:5px;
	width:158px;
	height:74px;
}

 #adScheduleDescDiv {
	position:absolute;
	left:312px;
	top:79px;
	width:249px;
	height:267px;
	text-align:left;
}
